<div class="container">
  <h1>Book a ride ..</h1>
  <form (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="start-station">From ..</label>
          <select class="form-control"
                  id="start-station"
                  required
                  [(ngModel)]="model.start" name="start-station">
            <option *ngFor="let start of getStartStations()" [value]="start">Station {{start}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="end-station">To ..</label>
          <select class="form-control"
                  id="end-station"
                  required
                  [(ngModel)]="model.end" name="end-station">
            <option *ngFor="let end of getEndStations()" [value]="end">Station {{end}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <button type="button" class="btn btn-block btn-primary" (click)="pictureCollapsed = !pictureCollapsed"
                [attr.aria-expanded]="!pictureCollapsed" aria-controls="picCollapse">
          {{ pictureCollapsed ? 'Show Map' : 'Hide Map' }}
        </button>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-block btn-success" [disabled]="submitButtonDisabled()"
                style="float: right">
          Submit
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br>
        <div id="picCollapse" [ngbCollapse]="pictureCollapsed">
          <div class="card">
            <div class="card-body">
              <img src="assets/img/stations-landscape.png"
                   style="width: 60%; margin: 0 auto; display: block;"
                   alt="map">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <br>

      </div>
    </div>

  </form>
</div>
