<div class="container">
    <h1>Current rides ..</h1>
    <table *ngIf="jobsActive()" class="table">
        <thead>
        <tr>
            <th>
                Job ID
            </th>
            <th>
                Start Station
            </th>
            <th>
                End Station
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let job of jobs; let i = index">
            <td>{{job.id}}</td>
            <td>{{job.start}}</td>
            <td>{{job.end}}</td>
            <td>
                <fa-icon (click)="deleteJob(i)" [icon]="trashIcon"></fa-icon>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="!jobsActive()" class="alert alert-info">
        Currently, there are <strong>no active jobs</strong>.
    </div>
</div>
