# Verification
## Setup

- Install GNAT Studio
- Open `external_controller/Verifikation/External/Controller/external_controller.gpr`

## Run

- Click `Spark` in menu bar
- Click `Prove All Sources`
- Check `Multiprocessing` and `Report Checks Proved`
- Click `Execute`

## Result

- You can check out the results of the verification through  `external_controller/Verifikation/External/Controller/obj/gnatprovegnatprove.out`

